<!DOCTYPE>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bosstrap.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="footer" data-th-fragment="footer">
		<footer class="bg-dark text-light py-4">
		    <div class="d-flex flex-row justify-content-around">
		    	<div class="col-md-8 row">
		    		<div class="col-md-7 mt-2">
			            <h5>Contacto</h5>
			            <ul class="list-unstyled" id="contacto">
			                <li>Telefono: +1547567890</li>
			                <li>Correo: info@fi.unju.edu.ar</li>
			                <li>Direccion: Italo Palanca Nº 10 - San Salvador de Jujuy</li>
			            </ul>
			        </div>
			        <div class="col-md-4 text-center align-self-center">
			            <p>Copyright © 2014-2022</p>
			            <p>Facultad de Ingeniería - UNJu</p>
			        </div>
		    	</div>
		        <div class="col-md-3 text-center mt-2">
		            <h5>Síguenos</h5>
		            <ul class="list-inline">
		                <li class="list-inline-item"><a href="https://www.facebook.com/fiunju/">Facebook</a></li>
		                <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">Youtube</a></li>
		                <li class="list-inline-item"><a href="https://www.instagram.com/fiunju/">Instagram</a></li>
		            </ul>
		        </div>
		    </div>
		</footer>
	</div>
</body>
</html>