.container {
	width: 45%;
}

.facultad{
	margin-left: 20%;	
}

.separator {
	height: 40px;
	background-color: #ccc;
	margin: 10px 0;
}

.separator2 {
	height: 1px;
	background-color: #ccc;
	margin: 15px 0;
}

ul{
  list-style-type: none;
}