<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" >
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="	width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/styles.css">
<title>FormularioCarrera</title>
</head>
<body>
	<header>
  		<div th:replace="~{fragments/header :: header}"></div>
  	</header>
<br><br>
<div class="container">

<div class="containerForm">
	<h1>FORMULARIO CARRERA</h1>

	<form data-th-object="${nuevaCarrera}" data-th-action="${band}?@{/modificarCarrera}:@{/guardarCarrera}" method="post">
		<div >
			<label for="codigo" class="form-label">Codigo</label> 
			<input type="text" class="form-control" id="codigo" data-th-field="*{codigo}" data-th-readonly="${band}" required>
			<p class="form-text text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></p>
			
		</div>
		
		<div >
			<label for="nombre" class="form-label">Nombre</label>
			<input type="text" class="form-control" id="nombre" data-th-field="*{nombre}" required title="Ingresa un nombre valido, sin números o caracteres especiales." pattern="[A-Za-z1-9\s1]+">
		</div>
		
		<div>
			<label for="años" class="form-label">Cantidad de Años</label>
			<input type="number" class="form-control" id="años" data-th-field="*{cantAnios}" required>
			<p class="form-text text-danger" th:if="${#fields.hasErrors('cantAnios')}" th:errors="*{cantAnios}"></p>
		</div>
		
		<div class="form-group">
	        <label class="form-label">Materias</label>
	        <select class="form-control" data-th-field="*{materias}" required multiple>
	            <option data-th-each="materias : ${materias}" data-th-value="${materias.codigo}" data-th-text="${materias.nombre + ' ' + materias.curso}"></option>
	        </select>
	    </div>
	    
	    <div class="form-group">
	         <label class="form-label">Alumnos</label>
	         <select class="form-control" data-th-field="*{alumnos}" required multiple>
	              <option data-th-each="alumnos : ${alumnos}" data-th-value="${alumnos.dni}" data-th-text="${alumnos.dni + ' ' + alumnos.nombre + ' ' + alumnos.apellido}"></option>
	         </select>
	   </div>
	<br>
		<button type="submit" class="btn btn-primary" >Guardar</button>
		
	</form>
	</div>

</div>
<br><br>

<footer>
		<div th:replace="~{fragments/footer :: footer}"></div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>