<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="	width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/styles.css">

<title>FormularioDocente</title>
</head>
<body>

	<header>
		<div data-th-replace="~{fragments/header :: header}">
		</div>
		<div data-th-replace="~{fragments/navbar :: navbar}">
		</div>
	</header>

	<div class="containerForm">
		<h1>FORMULARIO DOCENTE</h1>
		<form data-th-object = "${nuevoDocente}" data-th-action="${band}?@{/modificarDocente}:@{/guardarDocente}" method="post">
		
			<div >
				<label for="legajoDTO" class="form-label">Legajo</label> 
				<input type="text" class="form-control" id="legajoDTO" data-th-field="*{legajoDTO}" data-th-readonly="${band}" required>				
			</div>
			
			<div >
				<label for="nombreDTO" class="form-label">Nombre</label>
				<input type="text" class="form-control" id="nombreDTO" data-th-field="*{nombreDTO}" required>
			</div>
			
			<div >
				<label for="apellidoDTO" class="form-label">Apellido</label>
				<input type="text" class="form-control" id="apellidoDTO" data-th-field="*{apellidoDTO}" required>
			</div>
			
			<div>
				<label for="emailDTO" class="form-label">Email</label>
				<input type="email" class="form-control" id="emailDTO" data-th-field="*{emailDTO}" required>
			</div>
			
			<div >
				<label for="telefonoDTO" class="form-label">Número de telefono</label>
				<input type="number" class="form-control" id="telefonoDTO" data-th-field="*{telefonoDTO}">
			</div>
			
			<div>
				<label for="estadoDTO" class="form-label">Estado</label>
				 <select class="form-control" id="estadoDTO" data-th-field="*{estadoDTO}" required>
	                        <option data-th-value="true">True</option>
	                        <option data-th-value="false">False</option>
				</select>
			</div>
			
			
			<br>
			<button type="submit" class="btn btn-primary" >Guardar</button>
		</form>
	</div>

	<footer>
		<div data-th-replace="~{fragments/footer :: footer}">
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>