<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
<title>LISTA DE CARRERAS</title>
</head>
<body>
	<header>
		<div data-th-replace="~{fragments/header :: header}">
		</div>
		<div data-th-replace="~{fragments/navbar :: navbar}">
		</div>
	</header>

	<div class="table-responsive-lg py-2 mb-lg-5 pl-md-3 pr-md-3 text-center">
	<table class="table table-dark table-hover table-sm">
			<thead>
				<tr>
					<th class="pl-md-2 pr-md-2 pt-md-2 pb-md-2" scope="col">Codigo</th>
					<th class="pl-md-2 pr-md-2 pt-md-2 pb-md-2" scope="col">Nombre</th>
					<th class="pl-md-2 pr-md-2 pt-md-2 pb-md-2" scope="col">Duracion Años</th>
					<th class="pl-md-2 pr-md-2 pt-md-2 pb-md-2" scope="col">Materias</th>
					<!-- 
					<th class="pl-md-2 pr-md-2 pt-md-2 pb-md-2" scope="col">Alumnos</th>
					-->
					<th class="pl-md-2 pr-md-2 pt-md-2 pb-md-2" scope="col">Opciones</th>
					
				</tr>
			</thead>
			<tbody data-th-each="CarreraDTO : ${ListadoCarreras}">
				<tr>
					<td class="pl-md-2 pr-md-2 pt-md-2 pb-md-2" data-th-text="${CarreraDTO.codigoDTO}"></td>
					<td class="pl-md-2 pr-md-2 pt-md-2 pb-md-2" data-th-text="${CarreraDTO.nombreDTO}"></td>
					<td class="pl-md-2 pr-md-2 pt-md-2 pb-md-2" data-th-text="${CarreraDTO.cantAniosDTO}"></td>
			
                    <td class="pl-md-2 pr-md-2 pt-md-2 pb-md-2">
                        <ul>
                            <li data-th-each="materias : ${CarreraDTO.materiasDTO}" data-th-text="${materias.nombre}+' '+${materias.curso}"></li>
                        </ul>
                    </td>
                       <!--  
                    <td class="pl-md-2 pr-md-2 pt-md-2 pb-md-2">
                        <ul>
                            <li data-th-each="alumnos : ${CarreraDTO.alumnosDTO	}" data-th-text="${alumnos.nombre}+' '+${alumnos.apellido}"></li>
                        </ul> 
                    </td>
           			-->
					
					<td class="pl-md-2 pr-md-2 pt-md-2 pb-md-2">
						 <a data-th-href="@{'/borrarCarrera/'+${CarreraDTO.codigoDTO}}" class="btn btn-danger">Borrar</a>
          				 <a data-th-href="@{'/modificarCarrera/'+${CarreraDTO.codigoDTO}}" class="btn btn-warning">Modificar</a>
					</td>
				</tr>
			</tbody>
		</table>

		<a data-th-href="@{/formularioCarrera}" class="btn btn-primary mt-3 mb-3">Nueva Carrera</a> 
	</div>

	<br>
	<footer>
		<div data-th-replace="~{fragments/footer :: footer}">
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>